<?=$this->inctpl('parts/head')?>
<div class="container">
    <h1 class="text-center"><?=strtoupper($category)?></h1>
    <hr>
    <?php if(isset($hideticket) && $hideticket == true): ?>
        <h1 class="text-center">Случайные вопросы</h1>
    <?php else: ?>
        <h1 class="text-center">Билет <b><?=$ticket?></b></h1>
    <?php endif; ?>
    <h5 class="text-center">Вопрос <b><?=$progress?> из 10</b></h2>
    <div class="text-center">
        <?php if($errors == 0): ?>
            <span class="badge badge-success">
                Ошибки: <b><?=$errors?></b>
            </span>
        <?php elseif($errors == 1): ?>
            <span class="badge badge-warning">
                Ошибки: <b><?=$errors?></b>
            </span>
        <?php else: ?>
            <span class="badge badge-danger">
                Ошибки: <b><?=$errors?></b>
            </span>
        <?php endif; ?>
    </div>
    <hr>
    <p class="text-center">
        <strong><?=$question['question']?></strong>
    </p>
    <?php if(isset($question['image'])): ?>
        <div class="text-center">
            <img src="/assets/img/tickets/c/<?=$question['image']?>.jpg" class="img-thumbnail">
        </div>
    <?php endif; ?>
    <hr>
    <?php foreach($question['answers'] as $key => $answer): ?>
        <a onclick="sendAnswer(<?=$ticket?>, <?=$question_number?>, <?=$key?>, <?=$progress?>)" id="answer-<?=$key?>" class="btn btn-dark btn-block" style="white-space: normal;color:#fff;">
            <?=$key?>. <b><?=$answer?></b>
        </a>
    <?php endforeach; ?>
    <hr>
    <a href="#" id="continue" class="btn btn-dark btn-block disabled" style="white-space: normal;">
        <b>Продолжить</b>
    </a>
</div>
<?=$this->inctpl('parts/prefooter')?>
<script>
    function sendAnswer(ticket, question, answer, progress){
        $.ajax({
            url: '/<?=$category?>/check?tic=' + ticket + '&q=' + question + '&ans=' + answer + '&p=' + progress,
            method: 'GET',
            dataType: 'json',
            success: (data) => {
                if(data['status'] == 'resolved'){
                    $(location).attr('href', '?q=' + data['progress']);
                } else {
                    console.log(data);
                    if(data['status'] == 'success'){
                        $('#answer-' + data['right']).removeClass('btn-dark');
                        $('#answer-' + data['right']).addClass('btn-success');
                    } else {
                        $('#answer-' + data['right']).removeClass('btn-dark');
                        $('#answer-' + data['right']).addClass('btn-success');

                        $('#answer-' + data['selected']).removeClass('btn-dark');
                        $('#answer-' + data['selected']).addClass('btn-danger');
                    }

                    $('#continue').removeClass('disabled');
                    $('#continue').attr('href', '?q=' + (data['question'] + 1));
                }
            }
        });
    }
</script>
<?=$this->inctpl('parts/footer')?>