<?=$this->inctpl('parts/head')?>
<div class="container">
    <h1 class="text-center"><?=strtoupper($category)?></h1>
    <hr>
    <h1 class="text-center" style="margin-top: 0px;"><?=$resolved_title?></h2>
    <hr>
    <?php if($errors <= 1): ?>
        <h2 class="text-center text-success">Билет сдан</h2>
        <p class="text-center">
            Количество ошибок: <span class="text-success"><?=$errors?></span>
        </p>
    <?php else: ?>
        <h2 class="text-center text-danger">Билет не сдан</h2>
        <p class="text-center">
            Количество ошибок: <span class="text-danger"><?=$errors?></span>
        </p>
    <?php endif; ?>
    <hr>
    <a href="/<?=$category?>" class="btn btn-dark btn-block" style="white-space: normal;">
        Список билетов
    </a>
</div>
<?=$this->inctpl('parts/prefooter')?>
<?=$this->inctpl('parts/footer')?>