<template>
  <div>
    <CurrentTicket v-if="$store.state.ticketInfo.ticket !== null" />
    <div class="card">
      <div class="card-content">
        <div class="content">
          <b-button
            type="is-dark"
            class="is-fullwidth tickets-button"
            tag="router-link"
            :to="{ name: 'home' }"
          >Все категории</b-button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="content has-text-centered">
          <h1 class="is-size-1 category-title is-uppercase">{{ category }}</h1>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="content">
          <b-button
            v-for="(ticket, index) in tickets"
            :key="index"
            class="is-warning is-fullwidth tickets-button is-light-warning"
            tag="router-link"
            :to="{ name: 'ticket', params: { category: category, ticket: index } }"
          >Билет {{ category.toUpperCase() }}:{{ index }}</b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CurrentTicket from "../components/CurrentTicket";

export default {
  components: {
    CurrentTicket
  },
  data: () => ({
    category: null,
    tickets: null
  }),
  mounted: function() {
    this.render();
  },
  methods: {
    render: function() {
      if(this.$store.state.tickets[this.$route.params.category] === undefined) return this.$router.push({ name: 'home' })
      this.category = this.$route.params.category;
      this.tickets = this.$store.state.tickets[this.$route.params.category];
      document.title = `Категория ${this.category.toUpperCase()} - TicketsApp`
    }
  },
  watch: {
    '$route' (to, from) {
      if(to.name === 'category') this.render();
    }
  }
}
</script>

<style scoped>
.category-title {
  margin-bottom: 0px;
}
</style>