<template>
  <div>
    <CurrentTicket v-if="$store.state.ticketInfo.ticket !== null" />
    <div class="card">
      <div class="card-content">
        <div class="content">
          <b-button
            v-for="(ticket, index) in $store.state.tickets"
            :key="index"
            class="is-warning is-light-warning is-fullwidth tickets-button"
            tag="router-link"
            :to="{ name: 'category', params: { category: index } }"
          >Категория {{ index.toUpperCase() }}</b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CurrentTicket from "../components/CurrentTicket";

export default {
  components: {
    CurrentTicket
  },
  mounted: function() {
    document.title = 'Главная - TicketsApp'
  }
}
</script>