<template>
  <div>
    <CurrentTicket v-if="$store.state.ticketInfo.ticket !== ticket" />
    <div class="card">
      <div class="card-content">
        <div class="content has-text-centered">
          <h1 class="is-size-1 category-title is-uppercase">{{ category }}</h1>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="content has-text-centered">
          <h3 class="is-size-3 category-title is-uppercase">Билет #{{ ticket }}</h3>
          <h5 v-if="started" class="is-size-5 category-title is-uppercase has-text-grey">Вопрос {{ $store.state.ticketInfo.progress}} из 10</h5>
          <h5 v-if="started" class="is-size-5 category-title is-uppercase has-text-danger">Ошибки: {{ $store.state.ticketInfo.errors }}</h5>
        </div>
      </div>
    </div>
    <div class="card" v-if="started">
      <div class="card-content">
        <div class="content has-text-centered">
          <h3 class="is-size-3 category-title is-uppercase" v-html="ticketInfo['questions'][$store.state.ticketInfo.progress]['question']"></h3>
        </div>
      </div>
    </div>
    <div class="card" v-else>
      <div class="card-content">
        <div class="content has-text-centered">
          <b-button class="is-success is-light-success is-fullwidth is-uppercase" @click="start">Начать</b-button>
        </div>
      </div>
    </div>
    <div class="card" v-if="started">
      <div class="card-content">
        <div class="content has-text-centered">
          <a
            href="#"
            v-for="(answer, index) in ticketInfo['questions'][$store.state.ticketInfo.progress]['answers']"
            :key="index"
            :id="`answer-${index}`"
            class="button is-warning is-fullwidth is-uppercase answer-button"
            :class="{ 'is-answered': answered === index }"
            @click.prevent="select(index, $event)"
            v-html="index + '. ' + answer"
          ></a>
        </div>
      </div>
    </div>
    <div class="card" v-if="started">
      <div class="card-content">
        <div class="content has-text-centered has-text-grey">
          Чтобы ответить на вопрос, нажмите на кнопку ответа (находятся под пунктами 1, 2, 3, ...) два раза.
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CurrentTicket from "../components/CurrentTicket";

export default {
  components: {
    CurrentTicket
  },
  data: () => ({
    category: null,
    ticket: null,
    ticketInfo: null,
    started: false,
    answered: null,
    finished: false,
  }),
  mounted: function() {
    this.render();
  },
  methods: {
    render: function() {
      if(this.$store.state.tickets[this.$route.params.category] === undefined) return this.$router.push({ name: 'home' })
      if(this.$store.state.tickets[this.$route.params.category][this.$route.params.ticket] === undefined) return this.$router.push({ name: 'home' })

      this.category = this.$route.params.category;
      this.ticket = this.$route.params.ticket;
      document.title = `Билет ${this.category.toUpperCase()}:${this.ticket} - TicketsApp`

      if(this.$store.state.ticketInfo.category === this.category && this.$store.state.ticketInfo.ticket === this.ticket){
        this.ticketInfo = this.$store.state.tickets[this.category][this.ticket];
        this.started = true

        for(var answer in this.ticketInfo['questions'][this.$store.state.ticketInfo.progress]['answers']){
          var el = document.getElementById('answer-' + answer)
          if(el !== null){
            el.classList.remove('is-success');
            el.classList.remove('is-danger');
            if(el.classList.contains('is-warning') !== true) el.classList.add('is-warning');
          }
        }
      }
    },
    start: function() {
      this.$store.commit('startNewTicket', {
        category: this.category,
        ticket: this.ticket
      })
      this.render()
    },
    select: function(index, e) {
      if(this.finished){
        this.answered = null
        this.right = null
        this.finished = false
        e.target.classList.remove('is-success')
        e.target.classList.remove('is-danger')
        e.target.classList.add('is-warning')

        this.$store.commit('addProgress', this.ticketInfo['right'][this.$store.state.ticketInfo.progress] != index)
        this.render()
      }
      else if(this.answered == index){
        e.target.classList.toggle('is-answered')
        e.target.classList.toggle('is-warning')

        if(this.ticketInfo['right'][this.$store.state.ticketInfo.progress] == index){
          e.target.classList.toggle('is-success')
          this.finished = true
        } else {
          e.target.classList.toggle('is-danger')
          var el = document.getElementById('answer-' + this.ticketInfo['right'][this.$store.state.ticketInfo.progress])
          el.classList.remove('is-warning')
          el.classList.add('is-success')
          this.finished = true
        }
      }
      else this.answered = index
    }
  },
  watch: {
    '$route' (to, from) {
      if(to.name === 'ticket') this.render();
    }
  }
}
</script>

<style scoped>
.category-title {
  margin-bottom: 0px;
}
.answer-button {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: normal;
  height: auto;
}
.button.is-answered {
  background: #1a1400;
  color: #ffdd57;
}
.button.is-answered:hover {
  background: #1a1400;
  color: #ffdd57;
}
.button.is-answered:focus {
  background: #1a1400;
  color: #ffdd57;
}
</style>