body {
    font-family: 'Didact Gothic', sans-serif;
    margin-top: 70px;
}

a {
    transition: 1s;
}

button {
    transition: 1s;
}

.btn {
    white-space: normal;
}

.btn-big {
    border-radius: 0px;
    white-space: normal;
    padding: 20px;
}

.navbar {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    opacity: 0.9;
}

.navbar-avatar {
    float: left;
    margin-right: 7px;
    margin-top: -2px;
}

.news-title {
    margin-top: 10px;
}

footer {
    margin-bottom: 15px;
}