Вторая версия приложения, основаная на фреймворке <b>AngularJS</b> версии <b>1.6.4</b>.
<br><br>
Для разработки использовалось:
<br>
- IDE <a href="https://jetbrains.com/phpstorm" target="_blank"><b>PhpStorm</b></a><br>
- Редактор <a href="https://atom.io" target="_blank"><b>Atom</b></a><br>
- Фреймворк <a href="https://getbootstrap.com" target="_blank"><b>Bootstrap</b></a><br>
- Фреймворк <a href="https://angularjs.org" target="_blank"><b>AngularJS</b></a>
<br><br>
Разработано <a href="https://belcoders.ru/" target="_blank"><b>Belcoders, Inc.</b></a>
<br>
<div align="center">
    <img src="/img/brands/nginx-logo.png" width="100"><br>
    <img src="/img/brands/angular-logo.png" width="100">
</div>