<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-center news-title"><b>Возобновление</b></h2>
            </div>
            <div class="panel-body">
                Разработка возобновлена.
            </div>
            <div class="panel-footer">
                30 окт. 2018, 19:48
                <span class="pull-right">опубликовал <a href="#/user/1"><b>Игорь Карплюк</b></a></span>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-center news-title"><b>NG4&BS4</b></h2>
            </div>
            <div class="panel-body">
                - Начато переписывание сайта на JS-фреймворк <b>Angular 4</b> и CSS-фреймворк <b>Bootstrap 4</b>.<br>
                - Начата разработка <b>мобильного приложения</b>.<br>
                - Добавлен <b>рейтинг</b>.<br>
                - Добавлены <b>аватары</b> пользователей.<br>
                - Сайт перенесен на веб-сервер <b>Nginx</b>.
            </div>
            <div class="panel-footer">
                15 июл. 2017, 23:09
                <span class="pull-right">опубликовал <a href="#/user/1"><b>Игорь Карплюк</b></a></span>
            </div>
        </div>
    </div>
</div>