<ul class="nav nav-pills">
    <li ng-class="{ active: usersFilter == 'decided'}"><a ng-click="updateList('decided')"><b>По количеству решенных билетов</b></a></li>
    <li ng-class="{ active: usersFilter == 'delivered'}"><a ng-click="updateList('delivered')"><b>По количеству сданных билетов</b></a></li>
</ul>
<hr>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Имя</th>
            <th>Решенных билетов</th>
            <th>Сданных билетов</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(key, user) in users">
            <td><b>{{ (key + 1) }}</b></td>
            <td><a href="#/user-{{ user.id }}"><b>{{ user.first_name }} {{ user.last_name }}</b></a></td>
            <td><b>{{ user.decided }}</b></td>
            <td><b>{{ user.delivered }}</b></td>
        </tr>
    </tbody>
</table>