<a href="#/ticket/{{ random }}" class="btn btn-primary btn-block btn-big"><b>Случайный билет</b></a>
<a href="#/ticket/0" class="btn btn-primary btn-block btn-big"><b>10 случайных вопросов</b></a>
<hr>
<div class="row">
    <div class="col-lg-12">
        <div class="input-group">
            <input type="number" ng-model="ticket" class="form-control" placeholder="Номер билета">
            <span class="input-group-btn">
                <a ng-href="#/ticket/{{ ticket }}" class="btn btn-default"><b>Загрузить</b></a>
            </span>
        </div>
    </div>
</div>
<hr>
<div ng-repeat="(key, ticket) in tickets">
    <a class="btn btn-primary btn-block btn-big" ng-href="#/ticket/{{ key }}"><b>Билет #{{ key }}</b></a>
</div>