<h3 align="center">
    <b>{{ caption }}</b>
    <br>
    <small ng-show="isFinal">Ошибок: {{ errors }}</small>
    <small ng-show="!isFinal">Вопрос {{ progressQuestion }} из 10</small>
</h3>
<hr>
<div ng-show="!isFinal">
    <div class="alert alert-info"><b><span ng-bind-html="trustedHtml(tickets[ticketId][question].text)"></span></b></div>
    <div ng-repeat="(key, answer) in tickets[ticketId][question].answers">
        <a class="btn btn-primary btn-block btn-big" ng-click="reply(key)" id="reply_{{ key }}"><b>{{ key }}. <span ng-bind-html="trustedHtml(answer)"></span></b></a>
    </div>
</div>
<div ng-show="isFinal">
    <div class="alert" id="final_text"><b>{{ finalText }}</b></div>
</div>
<div ng-show="isContinue">
    <hr>
    <a class="btn btn-default btn-block btn-big" ng-click="continue()"><b>Продолжить</b></a>
</div>