<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>{{ user.first_name }} {{ user.last_name }}</b>
            </div>
            <div class="panel-body">
                <img src="{{ user.avatar }}" class="img-circle" width="100%">
                <hr>
                <a href="https://vk.com/id{{ user.vk_id }}" class="btn btn-info btn-block" target="_blank"><b>Профиль ВКонтакте</b></a>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Общая информация</b>
            </div>
            <div class="panel-body">
                Дата регистрации: <b>{{ user.reg_date }}</b><hr>
                Решено билетов: <b>{{ user.decided }}</b><br>
                Сдано билетов: <b>{{ user.delivered }}</b>
            </div>
        </div>
    </div>
</div>