#app {
  font-family: 'Rubik', sans-serif;
}
.button.is-light-warning {
  background-color: #fffbeb;
  color: #947600;
}
.button.is-light-warning:hover {
  background-color: #fff6d4;
  color: #947600;
}
.button.is-light-success {
  background-color: #effaf3;
  color: #257942;
}
.button.is-light-success:hover {
  background-color: #d6fae3;
  color: #257942;
}
.button.is-light-link {
  background-color: #eef3fc;
  color: #2160c4;
}
.button.is-light-link:hover {
  background-color: #d3e0f8;
  color: #2160c4;
}