<template>
  <div>
    <div class="card" v-if="ticketInfo !== null">
      <div class="card-content">
        <div class="content has-text-centered">
          Вы остановились на:<br>
          Билет <b>{{ ticketInfo.category.toUpperCase() }}:{{ ticketInfo.ticket }}</b><br>
          Вопрос <b>{{ ticketInfo.progress }} из 10</b><br>
          Хотите продолжить?
          <br>
          <b-button
            class="is-success is-light-success is-small is-uppercase"
            style="margin-top: 15px;"
            tag="router-link"
            :to="{ name: 'ticket', params: { category: ticketInfo.category, ticket: ticketInfo.ticket } }"
          >Продолжить</b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    ticketInfo: null,
  }),
  mounted() {
    this.ticketInfo = this.$store.state.ticketInfo
  }
}
</script>