<template>
  <footer class="footer">
  <div class="content has-text-centered ma-0">
    <p>
      &copy; 2017-2019 <router-link :to="{ name: 'home' }"><strong>TicketsApp 3.0</strong></router-link>, УО &laquo;ЛГАТК&raquo;
    </p>
  </div>
</footer>
</template>

<style scoped>
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
</style>