<template>
  <b-navbar class="is-dark">
    <template slot="brand">
      <b-navbar-item tag="router-link" :to="{ name: 'home' }">
        TicketsApp 3.0
      </b-navbar-item>
    </template>
    <template slot="start">
      <b-navbar-item tag="router-link" :to="{ name: 'home' }">
        Главная
      </b-navbar-item>
      <b-navbar-item tag="router-link" :to="{ name: 'about' }">
        О нас
      </b-navbar-item>
      <b-navbar-dropdown label="Категории">
        <b-navbar-item v-for="(ticket, index) in $store.state.tickets" :key="index" tag="router-link" :to="{ name: 'category', params: { category: index } }">
          Категория {{ index.toUpperCase() }}
        </b-navbar-item>
      </b-navbar-dropdown>
    </template>
  </b-navbar>
</template>

<script>
export default {
  mounted: function() {
    
  }
}
</script>