<template>
  <div id="app">
    <Navbar />
    <div class="container page">
      <router-view/>
    </div>
    <Footer />
  </div>
</template>

<script>
import Navbar from './components/Navbar'
import Footer from './components/Footer'

export default {
  components: {
    Navbar,
    Footer
  }
}
</script>

<style>
.page {
  padding: 15px;
}
.button {
  font-family: 'Rubik', sans-serif;
}
.tickets-button {
  margin-top: 5px;
  margin-bottom: 5px;
}
</style>
