<?php
    if(isset($title)) $title = $title.' / TicketsApp';
    else $title = 'TicketsApp';
?>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="TicketsApp">
    <meta name="author" content="Igor Karplyuk">
	<meta name="theme-color" content="#343a40">
    <title><?=$title?></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">TicketsApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/a">A</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/b">B</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/c">C</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <hr>
    </div>