<?=$this->inctpl('parts/head')?>
<div class="container">
    <a href="/" class="btn btn-dark btn-block">&laquo; <b>Список категорий</b></a>
    <hr>
    <h1 class="text-center"><?=strtoupper($category)?></h1>
    <hr>
    <a href="/<?=$category?>/randq" class="btn btn-danger btn-block">
        <b>Случайные вопросы</b>
        <br>
        <small><b>10</b> случайных вопросов из всех билетов</small>
    </a>
    <a href="/<?=$category?>/randt" class="btn btn-light btn-block">
        <b>Случайный билет</b>
        <br>
        <small><b>1</b> случайный билет</small>
    </a>
    <hr>
    <?php foreach($tickets as $ticket): ?>
        <a href="/<?=$category?>/<?=$ticket?>" class="btn btn-dark btn-block">
            <b>Билет #<?=$ticket?></b>
            <br>
            <small>Категория: <b><?=strtoupper($category)?></b></small>
        </a>
    <?php endforeach; ?>
</div>
<?=$this->inctpl('parts/prefooter')?>
<?=$this->inctpl('parts/footer')?>