<?=$this->inctpl('parts/head')?>
<div class="container">
    <a href="/a" class="btn btn-dark btn-block">
        <b>Категория A</b> &raquo;
    </a>
    <a href="/b" class="btn btn-dark btn-block">
        <b>Категория B</b> &raquo;
    </a>
    <a href="/c" class="btn btn-dark btn-block">
        <b>Категория C</b> &raquo;
    </a>
</div>
<?=$this->inctpl('parts/prefooter')?>
<?=$this->inctpl('parts/footer')?>